html,
body {
    font-family: OpenSansLight, sans-serif;
    font-weight: 400;
    font-size: 14px;
    border: 0;
    margin: 0;
    padding: 0;
}

.g-clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

input[type=file].g-hide,
.g-hide {
    display: none;
}

.b-wrap {
    max-width: 600px;
}

.b-header {
    padding-top: 10px;
    padding-bottom: 10px;
}

.b-user {
    padding-left: 0;
    text-align: right;
}
.b-user__pic {
    width: 30px;
    height: 30px;
    border: 1px solid #B7B7B7;
}
.b-user__name {
    font-size: 0.857rem;
    font-family: OpenSansSemibold, sans-serif;
    margin-left: 5px;
}

.b-logo__params {
    list-style: none;
    padding: 0;
    margin: 6px 0 0;
}
.b-logo__param {
    font-size: 0.857rem;
    font-family: OpenSansSemibold, sans-serif;
}

.b-heading {
    background: #ffc107;
    text-align: center;
    padding: 20px 0 25px;
}

.b-title {
    font-size: 2.7rem;
    color: #fff;
    font-family: OpenSansRegular, sans-serif;
    margin: 0;
}

.b-form {
    margin-top: 50px;
}
.b-form__row {
    margin-top: 15px;
}
.m-form__row_submit {
    margin-top: 25px;
}
.b-form__label {
    width: 40%;
    margin-bottom: 0;
    float: left;
    display: flex;
    align-items: center;
    height: 30px;
}
.b-form__input {
    width: 60%;
    height: 30px;
    padding: 0 7px;
    float: right;
    font-family: OpenSansRegular, sans-serif;
}
.b-form__input:focus {
    outline: none;
}
.b-form__preview {
    margin-left: 40%;
    margin-top: 10px;
    max-width: 60%;
}

.b-content {
    padding-bottom: 20px;
}

.b-button {
    width: 100%;
    height: 50px;
    background: #ffc107;
    border: none;
    font-size: 2rem;
    color: #fff;
    padding: 0 0 4px;
    font-family: OpenSansRegular, sans-serif;
    letter-spacing: 1px;
    outline: none;
}
.m-button_file {
    width: 60%;
    height: 30px;
    background: #ccc;
    font-size: 1em;
    padding: 0;
}

.b-file-link {
    font-family: OpenSansSemibold, sans-serif;
}

@media (min-width: 600px) {
    .b-user {
        padding-right: 0;
    }
}
